body {
    font-family: Arial, sans-serif;
    background: url('/photo.PNG') repeat; /* Замініть '/photo.jpg' на URL зображення або використайте 'background-color' для кольору */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}

#qrcode {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(251, 255, 9, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* Додайте background-size для контролю розміру повторюваних карточок */
body {
    background-size: 200px; /* Змініть це значення за необхідності */
}
